.page-header.header-filter {
    background-image: url("https://i.imgur.com/Ev5YYpR.png");
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(to top, #00bcd4 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}

#warning {
    color: #f33527;
}

#login-card {
    width: 50%;
}

#login-icon-username, #login-icon-password {
    color:#00bcd4;

}